streamlit>=1.32.0
yfinance>=0.2.37
pandas>=2.2.1
numpy>=1.26.4
plotly>=5.19.0
google-generativeai>=0.4.1
pandas-ta  # إزالة رقم الإصدار للسماح للنظام باختيار النسخة المتوافقة
scipy>=1.11.0
requests>=2.31.0
python-dotenv>=1.0.0
openpyxl>=3.1.0
cryptography>=41.0.0
apify-client>=1.0.0
feedparser>=6.0.0
beautifulsoup4>=4.12.0
loguru>=0.7.0
